/* ---------------- COULEURS GÉNÉRALES POUR LE BACKGROUND */
$color__background-body : #F2F2F2;
$color__background-body-clip : #F29F05;
$color__background-main : #F2F2F2;
$color__background-cours : #F2F2F2;
$color__background-header : #F25E6B;
$color__background-barre : #F2F2F2;
$color__background-footer : #F2F2F2;
$color__background-link : #F29F05;
$color__background-link-hover : #F2F2F2;

/* ---------------- COULEURS DES LIENS GÉNÉRAUX */
$color__link : #222426;
$color__link-hover : #F29F05;
$color__link-visited : #222426;
$color__link-recherche: #F2F2F2;

/* ---------------- LIENS ET COULEURS POUR LE FOOTER */
$color__link__footer : #F29F05;
$color__link__footer-font : #F2F2F2;
$color__link__footer-hover : #F2F2F2;
$color__link__footer-visited : #F25E6B;
$color__footer-background : #F2F2F2;

/* ---------------- LIENS ET COULEURS POUR LE HEADER  */
$color__link__header : #F25E6B;
$color__link__header-hover : #F25E6B;
$color__link__header-visited : #F2F2F2;

/* ---------------- COULEURS DES POLICES*/
$color__font-header : #222426;
$color__font-main :#F2F2F2;
$color__font-barre : #F25E6B;
$color__font-footer : #222426;
$color__font-sigle : #F29F05;

/* ---------------- COULEURS DES ANIMATIONS */
$color__anim1 : #222426;
$color__anim2 :#F25E6B;
$color__anim3 : #F2B1A2;
$color__anim4 : #F29F05;
$color__anim5 : #F2F2F2;

/* ---------------- BOUTONS LIENS */
$color__bouton__color: #F2F2F2;
$color__bouton__background: #F25E6B;
$color__bouton__color--hover:#F25E6B;
$color__bouton__background--hover: #F2F2F2;