/* ---------------- COULEURS GÉNÉRALES POUR LE BACKGROUND */
$color__background-body : #222426;
$color__background-body-clip : #CF59D3;
$color__background-main : #222426;
$color__background-cours : #F2F2F2;
$color__background-header : #3674ED;
$color__background-barre : #222426;
$color__background-footer : #222426;
$color__background-link : #CF59D3;
$color__background-link-hover : #F2F2F2;

/* ---------------- COULEURS DES LIENS GÉNÉRAUX */
$color__link : #222426;
$color__link-hover : #3674ED;
$color__link-visited : #222426;
$color__link-recherche: #F2F2F2;

/* ---------------- LIENS ET COULEURS POUR LE FOOTER */
$color__link__footer : #3674ED;
$color__link__footer-font : #F2F2F2;
$color__link__footer-hover : #F2F2F2;
$color__link__footer-visited : #CF59D3;
$color__footer-background : #F2F2F2;

/* ---------------- LIENS ET COULEURS POUR LE HEADER  */
$color__link__header : #F2F2F2;
$color__link__header-hover : #CF59D3;
$color__link__header-visited : #F2F2F2;

/* ---------------- COULEURS DES POLICES*/
$color__font-header : #222426;
$color__font-main :#F2F2F2;
$color__font-barre : #CF59D3;
$color__font-footer : #222426;
$color__font-sigle : #3674ED;

/* ---------------- COULEURS DES ANIMATIONS */
$color__anim1 : #222426;
$color__anim2 :#3674ED;
$color__anim3 : #3D8BF2;
$color__anim4 : #CF59D3;
$color__anim5 : #F2F2F2;

/* ---------------- BOUTONS LIENS */
$color__bouton__color: #F2F2F2;
$color__bouton__background: #CF59D3;
$color__bouton__color--hover:#CF59D3;
$color__bouton__background--hover: #F2F2F2;

$color__bouton__color--current: #F2F2F2;
$color__bouton__background--current: #3674ED;