h1{
    font-size: clamp(2rem, 8vw, 6rem)
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}

h5{
    font-size: 1.6rem;
}

h6{
    font-size: 1rem;
}

h1, h2 {
font-family: $font_principal;
}

h3, h4, h5 {
    font-family: $font__secondaire;
}

p {
    font-family: $font__paragraphe;
}

a {
    // font-size: clamp(.8rem, 1vw, 1rem);
}