.boite__modale, .boite__carrousel {
    position: fixed;
    
    border: 3px solid #3674ED;
    background-color: #F2F2F2;
    box-shadow: 10px 10px #3674ED;
    line-height: 1.2rem;
    padding: 1rem;
    z-index: 40;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    top: 5%;
    left: 5%;
    width: 90vw;
    height: 90%;

    @media screen and (min-width : $largeur__media--tablette){
    top: 15%;
    left: 20%;
    width: 60vw;
    height: 70vh;
    }

    .boite__modale__texte {
        line-height: 1.5rem;
    }

    &__fermeture {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    z-index: 1;
    }
}

.ouvrir {
    transform: scale(1);
}

.boite__modale {
    padding-top: 2rem;
    height: auto;
}

.fermeture {
    transform: scale(0);
    
}

.boite__modale__fermeture {
    background-color: #3674ED;
    border: 2px solid #3674ED;
    color: #F2F2F2;
    font-weight: bold;

    &:hover {
        background-color: #F2F2F2;
        color: #3674ED;
    }
}

.boite__carrousel {
    @media screen and (min-width : $largeur__media--tablette){
       
    }

    &__img { //conteneur d'img .boite__carrousel__img
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 1s ease-in-out;
            transform: translateX(-100%);

            .derniere-image {
                object-position: 50% 0%;
            }

            &.img--ouvrir {
                transform: translateX(0);
            }
        }

        .derniere-image {
            object-position: 50% 0%;
        }
    }

    &__navigation {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        left: 0;
        .bouton {
            width: clamp(0.8rem, 3vw, 1.2rem);
            height: clamp(0.8rem, 3vw, 1.2rem);
            min-width: 15px;
            max-height: 15px;
            background-color: #3674ED;
            margin: 10px 10px;
            border-radius: 50%;
            margin-bottom: 30px;
            transition: 0.2s ease-in-out;
        }
    }
}