.curseur {
  height: 2rem;
  width: 2rem;
  background-color: none;
  border-radius: 50%;
  border-right: 10px solid #CF59D3;
  border-left: 10px solid #CF59D3;
  border-top: 10px solid #3674ED;
  border-bottom: 10px solid #3674ED;
  position: fixed;
  //doit être la moitié de la taille
  top: -1rem;
  left: -1rem;
  z-index: 500;
  pointer-events: none;
  will-change: transform, opacity;

  /*Transition*/
  transition: transform 0.4s cubic-bezier(0.15, 0.9, 0.35, 0.95), opacity 0.5s;
}


/* Cosmétique (point centre)
====================================================================*/

