//Style du curseur
.curseur {
  height: 2rem;
  width: 2rem;
  background-color: #222426;
  border-radius: 50%;
  border-bottom: 3px solid #F2F2F2;
  position: fixed;
  //doit être la moitié de la taille
  top: -1rem;
  left: -1rem;
  z-index: 500;
  pointer-events: none;
  will-change: transform, opacity;

  /*Transition*/
  transition: transform 0.4s cubic-bezier(0.15, 0.9, 0.35, 0.95), opacity 0.5s;
}


//Point du centre
.curseur::before {
  content: "";
  position: absolute;
  height: 0.8rem;
  width: 0.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F2F2F2;
  border-radius: 50%;
}
