.galerie {
    width: 95%;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $largeur__media--tablette) {
        width: 80%;
    }

    @media screen and (min-width: $largeur__media--desktop) {
        
    }

    .carrousel {
        
    }
}

.wp-block-image:hover {
    cursor: pointer;

    &::before {
        
    }
}