.galerie {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $largeur__media--tablette) {
        width: 95%;
    }

    @media screen and (min-width: $largeur__media--desktop) {
        
    }
}

.wp-block-image:hover {

}