.galerie {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    @media screen and (min-width: $largeur__media--tablette) {
        width: 90%;
    }

    .wp-block-image {
     transition: 0.3s ease-in-out;
    }

    .wp-block-image:hover {
        opacity: 0.3;
    }
}

