/** Style de la navigation **/
#burger {
    // border-radius: 4px;
    // margin-left: 2vw;
    // margin-top: 3vh;
    // padding: 2px;
    // width: 30px;
    // height: 30px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 99;
    cursor: pointer;
    display: none;

    svg {
        color: white;
    }
}

/** Style pour le menu burger **/
#chk-burger {
    display: none;
}

#chk-burger:checked~#burger {}

.menu-principal-container {
    display: block;
}

#chk-burger:checked~.menu-principal-container {
    display: block;
    margin-left: 2%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.menu-principal-container,
.footer__liens {
    margin: 0;
    padding: 0;

    a {
        display: block;
        padding: 4px;
        color: $color__link__header;
        transition: transform 0.3s;

        &:hover {
            background-color: $color__link__header-hover;
            color: $color__font-main;
        }

        text-decoration: none;
    }

    a:hover {
        transform: translate(7px, 0);
    }
}


.home #burger {
    display: block;
}

.home .menu-principal-container {
    display: none;
}


a:-webkit-any-link {
    text-decoration: none;
    text-transform: uppercase;
}