.menu-accueil-container {
    //nav
    z-index: 15;
    padding: 1rem;
    padding-top: 0;

    .menu {
        //ul
        display: flex;
        flex-direction: column;

        @media screen and (min-width : $largeur__media--tablette) {
            flex-direction: row;
        }

        
        .accueil__cours .menu-item-icone {
            background-image: url('https://s2.svgbox.net/materialui.svg?ic=article');
        }

        .accueil__profs .menu-item-icone {
            background-image: url('https://s2.svgbox.net/materialui.svg?ic=local_library');
        }

        .accueil__joindre .menu-item-icone {
            background-image: url('https://s2.svgbox.net/materialui.svg?ic=local_phone');
        }

        .accueil__reglements .menu-item-icone{
            background-image: url('https://s2.svgbox.net/materialui.svg?ic=rule');
        }

        .menu-item {
            //li
            padding: 1rem;
            margin: 0 15px 0 15px;
            transition: background-color 0.3s, transform 0.3s;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #3674ED;
            width: 100%;
            height: 150px;
            margin-bottom: 1rem;

            @media screen and (min-width : $largeur__media--tablette) {
                width: 25%;
                height: 200px;
            }
            

            a {
                font-size: clamp(1.5rem, 1vw, 2rem);
                color: #222426;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .menu-item-description {
                    font-size: clamp(0.8rem, 1.5vw, 1rem);
                    text-transform: none;
                }

                .menu-item-icone {
                    width: 35px;
                    height: 35px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
        }

        //barres sous titre
        hr {
            width: 100%;
            color: #222426;
        }
    }

    .menu-item:hover {
        background-color: #3D8BF2;
        transform: translateY(-10px);
    }
}

//fin menu-accueil container

@keyframes animationCouleur {
    0%{
        background-position:0% 50%;
        background-size: 100% 100%;

    }
    50%{
        background-position:100% 50%;
        background-size: 400% 400%;
    }
    100%{
        background-position:0% 50%;
        background-size: 100% 100%;
    }
}

.menu-evenement-container {
    background-color: #222426;
    width: 100%;
    padding: 2rem;
    padding-top: 0;

    .menu-item {
        //li
        padding: 1rem;
        margin: 15px 0 15px 0;
        background: linear-gradient(270deg, #3674ed, #cf59d3);
        background-size: 100% 100%;
        

        a {
            font-size: clamp(1.5rem, 1vw, 2rem);
            color: #F2F2F2;

            .menu-item-description {
                font-size: clamp(0.8rem, 1.5vw, 1rem);
                text-transform: none;
            }
        }
    }

    .menu-item:hover {
        background-size: 400% 400%;
        animation: animationCouleur 5s ease infinite; 
      }
}