/* ------------------------------------------------------------
Navigation catégorie cours
------------------------------------------------------------ */
.menu-categorie_cours-container {
    background-color: $color__bouton__background;
    width: 93%;
    .menu { //ul
        display: flex;
        flex-direction: column;
       
        .menu-item { //li
            padding: 0.5rem;
            width: 100%;
            border-left: 3px solid #222426;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.3s;
            border-bottom: 3px solid #222426;

            a {
                display : block;
                padding : 0.2rem;
                color: $color__bouton__color;
                transition: transform 0.3s;
                
                .menu-item-description {
                    text-transform: none;
                    color: #222426;
                }
            }    
        
            a:hover {  
                transform: translate(0, 5px);
            }

            hr {
                width: 100%;
                color: #222426;
            }
        } 
    } // fin du menu-item
    .current-menu-item {
        background-color: $color__bouton__background--current;
        a {
            color: $color__bouton__color--current;
        }
    }
    
    @media screen and (min-width : $largeur__media--tablette){
         .menu {
             flex-direction: row;
         }  
    }
}