.menu-menu_accueil-container { //nav
    padding-top: 2rem;
    z-index: 15;

    .menu { //ul
        display: flex;

        .accueil__cours .menu-item-icone {
            background-image: url('https://s2.svgbox.net/loaders.svg?ic=three-dots&color=000000');
        }

        .accueil__cours { //li

        }

        .accueil__profs {

        }

        .accueil__etudiants {

        }

        .accueil__aide {

        }

        .accueil__reglements {
            
        }

        .menu-item { //li
            padding: 1rem;
            margin: 0 15px 0 15px;
            transition: background-color 0.3s, transform 0.3s;
            text-decoration: none;
            border-left: 2px solid white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            a{
                font-size: clamp(1.5rem, 1vw, 2rem);
                color: #F2F2F2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;


                .menu-item-description {
                    font-size: clamp(0.8rem, 1.5vw, 1rem);
                    text-transform: none;
                }

                .menu-item-icone {
                    // border: 1px solid black;
                    margin: 1rem;
                    height: 100%;
                    width: 60px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                 
                }
            }
        }

        hr {
            width: 100%;
            color: #F2F2F2;
        }
    }

    .menu-item:hover {
        background-color: #F2B1A2;
        transform: translateY(-10px);
    }
}
