/** Style de la navigation **/
#burger {
    transition : transform .3s;
    transform : rotate(0);
    border-radius: 4px;
    margin-left: 1vw;
    margin-top: 2vh;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    cursor: pointer;
    svg {
        color: #F25E6B;
    }
}

/** Style pour le menu burger **/
#chk-burger {
    display: none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}

.menu-principal-container {
    display : none;
}

#chk-burger:checked ~ .menu-principal-container{
    display : block;
    margin-left: 3vw;
    
}

.menu{
    list-style-type: none;
    margin : 0;
    padding :0;
}


.menu-principal-container, .footer__liens{
    margin:0;
    padding : 0;
    a{
        display : block;
        padding : 4px;
        color: $color__link__header;
        transition: transform 0.3s;
        &:hover {
            background-color: $color__link__header-hover;
            color: $color__font-main;
        }
        text-decoration: none;
    }    

    a:hover {  
        transform: translate(7px, 0);
    }
}

@media screen and (min-width : $largeur__media--desktop){
    #burger {
        display : none;
    }
    .menu-principal-container {
        display : block;
        
    }

    .home #burger {
        display : block;
    }
    .home .menu-principal-container {
        display : none;
    }

}

a:-webkit-any-link {
    text-decoration: none;
    text-transform: uppercase;
}





